[Match]
Name=usb0

[Network]
Address=192.168.255.254/30
DHCPServer=yes
LinkLocalAddressing=no

[Route]
Gateway=192.168.255.253
Metric=2001

[DHCPServer]
PoolOffset=0
PoolSize=1
